body {
    font-family: 'Lato', 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.85em;

    position: relative;

    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background: transparent;
}

a {
    transition: all .3s;
    text-decoration: none;

    color: #64B7DD;
}

a:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.4em;

    margin-top: 0;

    color: #242732;
}

blockquote {
    font-size: 14px;
    line-height: 1.6em;

    padding: 0 20px;
}

.table {
    display: table;

    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;

    text-align: center;
    vertical-align: middle;
}

img {
    height: auto;
}

button:focus {
    outline: none;
}

ul li,
ol li {
    padding: 5px 0;
}

code {
    display: block;

    padding: 20px;

    background-color: rgba(228, 89, 20, .2);
}

embed,
iframe,
object,
video {
    max-width: 100%;
}

/* If you are not using another script, such as Modernizr, make sure you* include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}

@media screen and (max-width: 860px) {

}

.vc_empty_space {
    height: 32px;
}

.vc_empty_space_2 {
    height: 60px;
}

.vc_empty_space_3 {
    margin-top: 100px;
}

.vc_empty_space_4 {
    height: 400px;
}

/*Header*/

.header-home {
    z-index: 52;
    background-color: white;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    width: auto;

    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    border-bottom: 0 solid rgba(255, 255, 255, .1);
}

.header-home ul li {
    position: relative;

    padding: 0 10px;
}

.header-home ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4em;

    display: block;

    margin: 0;
    padding: 20px 0;

    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
    text-transform: uppercase;

    color: #843a51;
}

.header-home ul li a:before {
    position: absolute;
    bottom: 35%;
    left: 0;

    width: 0;
    height: 3px;

    content: '';
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    background: #843a51;
}

.header-home ul li a:hover:before {
    width: 100%;
}

/* Sub Menu */
.header-home nav > ul > li {
    position: relative;

    padding: 0 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h3 {
    font-size: inherit;
    line-height: normal;

    margin: 0;
    padding: 20px 20px 20px 0;

    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}

.header-container ul {
    padding: 0;
}

/*General styles*/

.title {
    font-size: 30px;
    color: #753C51;
}

.title-line {
    border-top: 3px solid #EFBF7C;
    width: 80px;
}

.text-content {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 700px;
}

.lechazo-center {
    margin: auto;

    text-align: center;
}

.lechazo-link {
    font-weight: 700;

    text-decoration: underline;
}

.lechazo-link:hover {
    color: #d3a36e;
}

.background-new {
    background-color: #FAF4E6;
}

.background-new .container {
    width: 100%;
    background-size: 100% auto;
    background: url('img/background-city.svg') no-repeat center bottom;
}

.background-white {
    background-color: white;
}

.background-gray {
    background-color: #F9F9F9;
}

.background-light-blue {
    background: linear-gradient(to bottom, #A0D468 200px, #F4F7FA 200px, #F4F7FA 100%);
}

/*About*/

.lechazo-logo {
    display: flex;
    max-width: 550px;
    padding: 20px;
    margin: 100px auto auto;
}

.header-logo img {
    margin-top: -6px;
}

.lechazo-organizers {
    display: block;

    margin-top: 0;
    margin-bottom: 50px;

    vertical-align: middle;
}

.lechazo-organizers a {
    display: inline-block;

    margin: auto;

    text-align: center;;
}

.lechazo-logo-cylicon {
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
}

.lechazo-logo-solidgear {
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
}

.home-text {
    font-size: 20px;
    display: flex;
    justify-content: center
}

.lechazo-big {
    font-size: 25px;
    font-weight: bold !important;

    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.lechazo-bold {
    font-weight: bold;
}

.lechazo-subtitle {
    color: #5A6779
}

.fa {
    padding-right: 10px;
    padding-left: 10px;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-facebook {
    color: #3b5998;
}

.main-table a {
    /*padding-right: 10px;*/
    font-size: 30px;

    text-decoration: none;
}

.main-table .home-text p {
    font-weight: 400;

    margin-bottom: 0;

    letter-spacing: 1px;

    color: #9d5763;
}

.speaker-box {
    padding: 0 50px
}

.speaker-box a {
    text-decoration: none;
}

.speaker-job {
    background: #A0D468;
    color: white;
    font-size: 12px;
    padding: 5px;
}

.speaker-image img {
    width: 80%;
    padding: 10px;
}

.speaker-social-links {
    padding: 10px;
}

.lechazo-flex {
    display: flex;

    justify-content: center;
    flex-flow: row wrap;
}

/* Partners */

.partner-title {
    padding: 20px 0;
}

.partner-box {
    padding: 10px;
    border: 1px solid #E5E5E5;
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.partner-box img {
    max-width: 100%;
}

.partner-silver {
    height: 200px;
}

.partner-bronze {
    height: 180px;
    padding: 20px;
}

.partner-special {
    height: 150px;
    padding: 10px;
}

.partner-box-left {
    padding: 0 10px 10px 0;
}

.partner-box-right {
    padding: 0 0 10px 10px;
}

/* MAILCHIMP */

#mc_embed_signup {
    padding: 15px 0 15px 0;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

#mc_embed_signup label {
    font-family: 'Lato', 'Open Sans', Arial, sans-serif;
    font-weight: 400 !important;

    color: #9d5763;
}

#mc_embed_signup .button {
    padding: 10px;

    background-color: #d3a36e !important;
}

#mc_embed_signup input.email {
    padding: 10px;

    border-color: #d3a36e !important;
}

/* LOCATION */

#location {
    overflow: hidden;
    position: relative;
}

#wrapper-map {
    position: relative;
    width: 100%;
    height: 400px;
}

#contact-map {
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    display: block;
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 1;
    padding: 14px 20px 20px;
    text-align: left;
}

#features-map {
    font-size: 16px;
    padding: 0;
}

#features-map > li {
    list-style: none;
}

#feature-marker {
    background: url('img/feature-marker.svg') no-repeat center center;
    width: 14px;
    height: 20px;
}

#feature-bus {
    background: url('img/feature-bus.svg') no-repeat center center;
    width: 14px;
    height: 17px;
}

#feature-link {
    background: url('img/feature-link.svg') no-repeat center center;
    width: 14px;
    height: 14px;
}

.feature-icon {
    display: inline-block;
    margin-right: 12px;
    position: relative;
    top: 3px;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Ticketea */

.lechazo-cta {
    margin-top: 30px;
    margin-bottom: 30px;
}

.lechazo-register-link {
    font-size: 22px !important;
    font-weight: 400;
    min-width: 300px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    background-color: #86b817;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.lechazo-register-link-small {
    font-size: 20px !important;
    min-width: 200px;
    padding: 5px;
}

.lechazo-register-link:hover {
    text-decoration: none;
    background-color: #6a8e1a;
    color: white;
}

.lechazo-ticket-claim {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Code of conduct*/

.lechazo-coc {
    max-width: 800px;
}

/*Agenda*/

.agenda-list {
    background: white;
    padding: 50px
}

.agenda-row {
    display: flex;
    align-items: center;
}

.agenda-time {
    margin-right: 20px
}

.agenda-marker {
    background: url(img/line.png) center center no-repeat repeat;
    display: flex;
    align-self: stretch;
    align-items: center;
}

.agenda-marker-first {
    background: url(img/line.png) center 50px no-repeat;
}

.agenda-marker-last {
    background: url(img/line.png) center -1300px no-repeat;
}

.agenda-icon {
    position: relative;
    margin: 20px;
}

.agenda-icon :first-child {
    width: 62px;
    max-width: none;
}

.agenda-icon-fill {
    position: absolute;
    top: 15px;
    left: 21px;
}

.agenda-burguer {
    position: absolute;
    top: 15px;
    left: 17px;
}

.agenda-micro {
    position: absolute;
    top: 19px;
    left: 23px;
}

.agenda-row a {
    font-weight: bold;
}

.agenda-accordion-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.agenda-accordion-content {
    margin-top: 20px;
    margin-bottom: 20px
}

.agenda-accordion-content p {
    margin: 0;
}

.agenda-accordion-hidden {
    height: 0;
    overflow: hidden;
    /*-webkit-transition: height 0.5s;*/
    /*-o-transition: height 0.5s;*/
    /*transition: height 0.5s;*/
}

/*.agenda-accordion-input:checked ~ .agenda-accordion-content {*/
/*align-self: flex-start;*/
/*}*/

.agenda-accordion-input:checked ~ .agenda-accordion-content .agenda-accordion-hidden {
    height: 100%;
}

.agenda-details-link {
    font-weight: normal;
    color: #64B7DD;
}

.agenda-accordion-input ~ .agenda-accordion-content .agenda-details-link:before {
    content: 'Ver más detalles ->'
}

.agenda-accordion-input:checked ~ .agenda-accordion-content .agenda-details-link:before {
    content: '<- Cerrar detalles'
}

.footer {
    position: relative;
    padding: 30px 0 5px;
    text-align: center;
    background-color: #242732;
}

.footer .copyright p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 3px;
    text-transform: uppercase;
    color: #656a7e;
}

.blog-row {
    display: flex;
    align-items: center
}

.blog-row .lechazo-header-link {
    text-decoration: none;
}

.blog p {
    font-size: 22px;
}

.blog img {
    margin: 20px 0 20px 0;
    max-width: 100%;
}

.blog h1, .blog h2, .blog h3, .blog h4, .blog b, .blog strong, .blog-row h2, .blog-row h3 {
    color: #753C51;
}

.blog h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Media Queries*/

@media (max-width: 1199px) and (min-width: 992px) {
    .header-home nav.menu ul li a {
        font-size: 12px;

        padding: 30px 0;
    }

    .header-container h3 {
        padding: 25px 0 35px;
    }
}

@media (max-width: 991px) {
    .vc_empty_space_3 {
        margin-top: 35px;
    }

    .lechazo-logo {
        margin-top: 0 !important;
    }

    .header-home {
        position: relative;

        padding: 25px 0;

        background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    }

    .container {
        width: 100%;
    }

    .header-container h3 {
        padding: 0;
    }

    .header-home ul li a:before {
        display: none;
    }

    .header-home .navbar-toggle {
        font-size: 21px;

        display: block;

        margin: 0;
        padding: 2px 10px;

        color: #fff;
        border-radius: 0;
        background: #843a51;
    }

    .navbar-collapse.collapse {
        display: none !important;
        overflow: visible !important;

        height: auto !important;
        padding-bottom: 0;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    ul.nav li {
        display: block;
        float: none;

        width: auto;
    }

    .header-home nav.menu {
        position: absolute;
        top: 100%;
        right: 0;

        float: none !important;

        width: 100%;

        background: #eee;
    }

    .header-home nav.menu .nav {
        width: 100%;
    }

    .header-container ul {
        margin: 0;
    }

    .header-home nav > ul > li {
        position: relative;

        padding: 0;

        border-bottom: 1px solid #fff;
    }

    .header-home nav.menu ul li a {
        margin: 0;
        padding: 15px 20px;

        color: #454545;
        border-right: none;
        border-bottom: 1px solid #e1dede;
        border-left: 3px solid #eee;
    }

    .header-home nav.menu li a:hover,
    .header-home nav > ul > li:hover,
    .header-home nav ul.nav > li:hover > a {
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;

        color: #843a51;
        background: #fff;
    }

    .header-home nav ul.nav > li:hover > a {
        border-color: #843a51;
    }

    .partner-box-left {
        padding: 0 0 10px 0;
    }

    .partner-box-right {
        padding: 0 0 10px 0;
    }

}

@media (max-width: 768px) {

    .vc_empty_space_4 {
        height: 10px;
    }

    .vc_empty_space_4 {
        height: 150px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .lechazo-logo {
        width: 90%;
    }

    .header-logo img {
        margin-top: 0;
    }

    .background-new .container {
        width: 90%
    }

    .agenda-list {
        background: white;
        padding: 20px
    }

}

@media (max-width: 480px) {

    .agenda-icon img {
        display: none;
    }

    #agenda .container {
        padding: 0;
    }

    .agenda-time {
        margin-right: 10px;
    }

    .agenda-icon {
        margin-right: 10px;
        margin-left: 10px;
    }

    .agenda-marker-first {
        background: url(img/line.png) center 20px no-repeat;
    }

    .agenda-marker-last {
        background: url(img/line.png) center -1320px no-repeat;
    }
}