<!-- Como llegar-->
<section id="location" class="background-white lechazo-center">

    <div class="container">
        <div class="row lechazo-flex">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="vc_empty_space_3"></div>

                <span class="title">Localización</span>
                <div class="title-line lechazo-center"></div>
                <div class="vc_empty_space"></div>
                <div class="text-content lechazo-center">
                    <p>En el <a href="https://congresoscondeansurez.es/" class="lechazo-link">Palacio de Congresos Conde
                        Ansúrez</a>. </p>
                    <p>Un edificio del siglo XVII a
                        10 minutos andando desde la Plaza Mayor de Valladolid.</p>
                </div>
                <div id="wrapper-map">
                    <div id="contact-map">
                        <ul id="features-map">
                            <li>
                                <span id="feature-bus" class="feature-icon"></span>
                                <span>Líneas de bus: 1, 2, 8 y C2</span>

                            </li>
                            <li>
                                <span id="feature-link" class="feature-icon"></span>
                                <a class="lechazo-link" href="https://congresoscondeansurez.es/">https://congresoscondeansurez.es/</a>
                            </li>
                        </ul>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11923.86426071133!2d-4.719454!3d41.6564752!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8df2f746d39e773c!2sPalacio%20de%20Congresos%20Conde%20Ans%C3%BArez!5e0!3m2!1ses!2ses!4v1579590865854!5m2!1ses!2ses"
                            width="100%" height="450" style="border:0;" allowfullscreen=""></iframe>
                </div>

                <div class="vc_empty_space_3"></div>
            </div>
        </div>
    </div>
</section>
