<section id="trip" class="background-white">

    <div class="container">
        <div class="row lechazo-flex">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="title">¿Cómo llegar a Valladolid?</span>
                <div class="title-line"></div>
                <div class="text-content">
                    <p>
                        Hay buenas conexiones por carretera, <strong>tren</strong> (una hora desde Madrid, Chamartín, en
                        torno a 50€) e incluso tenemos un pequeño aeropuerto (en Villanubla, ¿qué podría salir mal
                        poniendo un aeropuerto en un lugar que toma su nombre de su niebla?).
                    </p>
                    <p>
                        <strong>Si vienes en coche</strong> estamos a 2 horas desde Madrid (220km), AP6 (peaje 12,5&euro;),
                        AP61 (230km, por Segovia, 6,9&euro;), Nacional + puerto (0&euro;). Recomendaci&oacute;n: por
                        Segovia.
                    <p>
                    <p>Para aparcar, la mejor opción son los aparcamientos públicos del centro en plaza <a
                            href="https://goo.gl/maps/g7Nh3ziAEEz">Portugalete</a>.
                    </p>
                    <p>
                        Como otras opciones, también podríamos arriesgarnos al aparcamiento del <a
                            href="https://www.google.com/maps/place/Aparcamiento/@41.6549682,-4.720725,15.61z/data=!4m8!1m2!2m1!1saparcamiento!3m4!1s0x0:0x66c86e31de2ae379!8m2!3d41.6561245!4d-4.7173432?shorturl=1">hospital</a>
                        (a veces piden cita si están de obras/hay poco espacio)
                        o intentar aparcar fuera de la zona azul (sólo por la mañana).
                        Las mejores opciones serían por las callejuelas alrededor de Dr. Esquerdo o, más lejos pero más
                        probable, cruzando el río por Calle Epifanía.
                    </p>
                    <p><a href="mailto:info@lechazoconf.com">Contáctanos</a> si vienes en tren para poder solicitar
                        <strong>el descuento de Renfe</strong>.</p>
                </div>

                <div class="vc_empty_space_3"></div>
            </div>
        </div>
    </div>
</section>
