<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} {{ site.year }}</title>

    <meta name="description" content="{{ site.title }} {{ site.year }} - {{ site.tagline }} - {{ site.city }} - {{ site.date_text }}"/>
    <meta property="og:title" content="{{ site.title }} {{ site.year }}"/>
    <meta name="og:description"
          content="{{ site.title }} {{ site.year }} - {{ site.tagline }} - {{ site.city }} - {{ site.date_text }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url }}/"/>
    <meta property="og:image" content="{{ site.url }}/img/logo-lechazo-color-rev.svg"/>
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>

    <link rel="icon" href="./img/lechacito-2.png" type="image/x-icon">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700' rel='stylesheet' type='text/css'>

    <!-- Style css -->
    <link href="style.css" rel="stylesheet"/>
</head>
<body id="bd">
{% include header.html base=page.nav_base %}
{{ content }}
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
